#show-trips {
  display: none;
}

.locationResult {
  display: none;
  overflow: scroll;
  height: 150px;
}

.travel {
  height: 500px;
  width: 100%;
}

.listItems {
  font-size: 2em;
}

.complete {
  height: 23px;
  width: 23px;
  display:none;
}

.strikethrough{
  text-decoration: line-through;
}
