#show-trips {
  display: none;
}

.locationResult {
  display: none;
  overflow: auto;
  height: 150px;
}

.travel {
  min-height: 520px;
  width: 100%;
}

.listItems {
  font-size: 2em;
}

.complete {
  height: 23px;
  width: 23px;
  display:none;
}

.strikethrough{
  text-decoration: line-through;
  color: forest;
  text-decoration-color: red;
}

.liItem {
  display: flex;
  align-items: center;
}


body {
  background-image: url("../img/arches.png");
}
